<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.passioncell.kakaoixshop.mapper.MemberMapper">
	<!-- 로그인 ID로 회원 PK 가져오기 -->
	<select id="getMemberPkByCustomerId" parameterType="String" resultType="int">
		SELECT id FROM Member WHERE customerId = #{customerId}
	</select>

	<!-- 로그인 : 유효성 검사 -->
	<select id="countValidLogin" parameterType="SigninDomain" resultType="int">
		SELECT COUNT(*) FROM Member WHERE customerId = #{customerId} and customerPw = #{customerPw}
	</select>

	<!-- 로그인 : 암호화된 비밀번호 가져오기 -->
	<select id="getHashPassword" parameterType="String" resultType="String">
		SELECT customerPw FROM Member WHERE customerId = #{customerId}
	</select>

	<!-- 회원가입 : 아이디 중복 검사 -->
	<select id="countOverlapId" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM Member WHERE customerId = #{customerId}
	</select>

	<!-- 회원가입 : 신규회원 정보 저장 -->
	<insert id="insertMember" parameterType="MemberDomain">
		INSERT INTO Member(customerId, customerPw, customerName, tel, address)
		VALUES(#{customerId}, #{customerPw}, #{customerName}, #{tel}, #{address})
	</insert>


</mapper>